@model BoringBank.WebPortal.Models.UserAccountListViewModel
@{
    ViewBag.Title = "Transfer money";
}

<h1>@ViewBag.Title</h1>
<div>
    @using (Html.BeginForm("TransferPost", "Account"))
    {
        <text>From:</text>
        @Html.DropDownList("from", new SelectList(Model.Accounts, "Id", "Name", null))
        <text>To:</text>
        @Html.DropDownList("to", new SelectList(Model.Accounts, "Id", "Name", null))
        <br/>
        <text>Amount:</text>
        @Html.TextBox("amount", 0)
        <br/>
        <button type="submit">Send !</button>

    }
</div>
